search_field {
    height:40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #CCCCCC;
    outline: none;
} 

search_button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position:absolute;
    top:0;
    right:0;
    font-size: 17px;
    width:px;
    height:40px;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

.input-group {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

/*
body {
    background-image: url(automates.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}*/
