<html lang="en" dir="ltr">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="/app/templates/static/home.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<head>
    <meta charset="utf-8">
    <title> AutoMATES </title>
</head>

<body>
    <div class="heading">
        <h1 id="title"> AutoMATES </h1>
        <p> We help the BC Restaurant and Foodservices Association with providing valuable information and exclusive opportunities. </p>
    </div>
    <form class="form-inline" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by Name">
            <span class="input-group-btn">
                <button type="submit" id="search_button" class="btn btn-default">Search</button>
            </span>
        </div>
    </form>
</body>


</html>